<div class="container">

  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div><!-- /.alert .alert-danger -->
  <% } %>

  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div><!-- /.alert .alert-success -->
  <% } %>

</div><!-- /.container -->
