<% include partials/head %>

<h1>Campgrounds</h1>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
  <% campgrounds.forEach(function(campground) { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= campground.image %>">
        <div class="caption">
          <h4><%= campground.name %></h4>
        </div><!-- /.caption -->
        <p>
          <a href="/campgrounds/<%= campground._id %>"
              class="btn btn-primary">More info</a>
        </p>
      </div><!-- /.thumbnail -->
    </div><!-- /.col-md-3 .col-sm-6 -->
  <% }); %>
</div><!-- /.row .text-center -->


<p>
  <a class="btn btn-primary btn-large"
      href="/campgrounds/new">Add a new campground</a>
</p>

<% include partials/foot %>
