<% include partials/head %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to FourBears!</h1>
    <p>Only the finest artisanal campground reviews.</p>
    <p>
    <blockquote>
        What on earth would I do if four bears came into my camp? Why, I
        would die of course. Literally shit myself lifeless.
        <footer>Bill Bryson, <em>A Walk in the Woods: Rediscovering America
            on the Appalachian Trail</em></footer>
      </blockquote>
    </p>
    <p>
      <a class="btn btn-primary btn-large"
          href="/campgrounds">View all campgrounds</a>
    </p>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->

<p>
  <a href="/campgrounds">View all campgrounds</a>
</p>

<% include partials/foot %>
