<% include partials/head %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to YelpCamp!</h1>
    <p>Only the finest artisanal campground reviews.</p>
    <p>
      <a class="btn btn-primary btn-large"
          href="/campgrounds">View all campgrounds</a>
    </p>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->

<p>
  <a href="/campgrounds">View all campgrounds</a>
</p>

<% include partials/foot %>
