<% include partials/head %>

<h1 style="text-align: center;">Add a new campground</h1>

<form class="form" action="/campgrounds" method="POST">
  <div style="width: 30%; margin: 0 auto;">
    <div class="form-group">
        <label for="yc-new-campground-name">Campground Name</label>
        <input type="text" class="form-control" id="yc-new-campground-name"
            name="name" placeholder="Name">
    </div><!-- /.form-group -->
    <div class="form-group">
        <label for="yc-new-campground-image">Campground Image URL</label>
        <input type="text" class="form-control" id="yc-new-campground-image"
            name="image" placeholder="Image URL">
    </div><!-- /.form-group -->
    <div class="form-group">
        <label for="yc-new-campground-desc">Campground Description</label>
        <input type="text" class="form-control" id="yc-new-campground-desc"
            name="description" placeholder="Description">
    </div><!-- /.form-group -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div><!-- /.form-group -->
    <p><a href="/campgrounds">Go back</a></p>
  </div>
</form>


<% include partials/foot %>
