#yc-comments {
  margin-top: 2em;
}
#yc-form-body {
  width: 30%;
  margin: 0 auto;
}
#yc-form-header {
  text-align: center;
}
#yc-add-comment {
  margin-bottom: 1em;
}
.thumbnail .caption-full {
  padding: 9px;
}
.thumbnail {
  padding: 0;
}
.thumbnail img {
  width: 100%;
}
